<<<<<<< HEAD
<h2>Can't decide what to make? Sign up here to generate random recipe ideas!</h2>
=======
<h2>Can't decide what to make? Sign up here to generate random recipe ideas!</h2>
>>>>>>> 563b8fc38676bfe18fc5489661652228a6687080
